@font-face {
    font-family: Merriweather;
    src: url("./fonts/Merriweather-Regular.ttf");
}

@font-face {
    font-family: Roboto-Regular;
    src: url("./fonts/Roboto-Regular.ttf");
}

/* ALLGEMEINE ANGABEN */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(246, 245, 247);
    font-family: Roboto-regular;
}

/*
==========================STYLE FOR HEADER===========================
*/
header {
    width: 100%;
    text-align: center;
    padding: 60px;
    background-color: rgba(55, 55, 55, 0.575);
    border-bottom: 3px solid rgba(55, 55, 55, 0.888);
}

header h1 {
    font-family: Merriweather;
    font-size: 3.5em;
    color: rgba(55, 55, 55, 0.946);
}

main article .important {
    padding-top: 100px;
    text-align: center;
    font-size: 1.5em;
    color: red;
    text-decoration: underline;
}
/*
==========================STYLE FOR COMMANDS============================
*/
main .commands {
    width: 40vw;
    margin: 60px auto 40px auto;
    background-color: rgba(226, 226, 226, 0.575);
}

main .commands h2 {
    background-color: #878687;
    margin: 0 0 40px 0;
    padding: 10px 0 10px 0;
    text-align: center;
}

main .commands p {
    margin: 10px 50px 40px 100px;
}

main section article span {
    font-size: 1.3em;
    margin: 0 0 10px 40px;
    text-decoration: underline;
}

/*
==========================STYLE FOOTER============================
*/

footer {
    width: 100vw;
    padding-top: 90px;
    background-color: #878687;
    border-top: 3px solid rgba(55, 55, 55, 0.888);
}